figure[data-rehype-pretty-code-figure] {
  @apply mt-0 p-0 border-2 border-muted-foreground/20 rounded-t-none rounded-b-lg
}

figure[data-rehype-pretty-code-figure] pre {
  @apply py-4 px-0 rounded-t-none bg-muted/10;
}

figure[data-rehype-pretty-code-figure] code {
  @apply text-sm !leading-loose p-0;
}

figure[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

figure[data-rehype-pretty-code-figure] code[data-line-numbers] > span[data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block text-right text-muted-foreground w-4;
}

figure[data-rehype-pretty-code-figure] span[data-line] {
  @apply border-l-4 border-l-transparent px-3;
}

figure[data-rehype-pretty-code-figure] span[data-highlighted-line] {
  /* background: rgba(200, 200, 255, 0.1); */
  @apply border-l-yellow-400 bg-yellow-100/10;
}

figure[data-rehype-pretty-code-figure] mark[data-highlighted-chars] {
  @apply rounded bg-zinc-700 shadow-sm p-0.5;
}

[data-rehype-pretty-code-figure] [data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}

[data-rehype-pretty-code-figure] code {
  @apply before:content-none after:content-none
}

span[data-rehype-pretty-code-figure] code span[data-line] {
  @apply rounded
}