@tailwind base;
@tailwind components;
@tailwind utilities;

/* shadcn theme */
/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
} */

/* ui jln themes */
/* @layer base {
  :root {
    --background: 0 0% 13.73%;
    --foreground: 26 0% 82.69%;
    --muted: 206 0% 5%;
    --muted-foreground: 206 0% 86.15%;
    --popover: 26 2.93% 10.46%;
    --popover-foreground: 26 14% 99%;
    --card: 0 0% 16.08%;
    --card-foreground: 26 14% 99%;
    --border: 26 11% 10%;
    --input: 26 11% 10%;
    --primary: 38.49 100% 72.15%;
    --primary-foreground: 26 36.94% 21.07%;
    --secondary: 206 0% 65%;
    --secondary-foreground: 206 9.62% 15.09%;
    --accent: 206 76% 88%;
    --accent-foreground: 206 76% 28%;
    --destructive: 15 93% 58%;
    --destructive-foreground: 0 0% 0%;
    --ring: 26 76% 88%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 13.73%;
    --foreground: 26 0% 82.69%;
    --muted: 206 0% 5%;
    --muted-foreground: 206 0% 86.15%;
    --popover: 26 2.93% 10.46%;
    --popover-foreground: 26 14% 99%;
    --card: 0 0% 16.08%;
    --card-foreground: 26 14% 99%;
    --border: 26 11% 10%;
    --input: 26 11% 10%;
    --primary: 38.49 100% 72.15%;
    --primary-foreground: 26 36.94% 21.07%;
    --secondary: 206 0% 65%;
    --secondary-foreground: 206 9.62% 15.09%;
    --accent: 206 76% 88%;
    --accent-foreground: 206 76% 28%;
    --destructive: 15 93% 58%;
    --destructive-foreground: 0 0% 0%;
    --ring: 26 76% 88%;
  }
} */

/* coasty orange */
/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;
    --muted: 0 0% 89.23%;
    --muted-foreground: 0 0% 45%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;
    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --primary: 24.58 100% 55.08%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 15.85%;
    --secondary-foreground: 0 0% 100%;
    --accent: 0 0% 94.62%;
    --accent-foreground: 0 0% 5%;
    --destructive: 0 95.28% 58.43%;
    --destructive-foreground: 0 0% 98%;
    --ring: 24.63 0% 83.69%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 3.23% 6.08%;
    --foreground: 0 0% 98%;
    --muted: 260 0% 18.46%;
    --muted-foreground: 260 5% 49%;
    --popover: 270 6% 7%;
    --popover-foreground: 0 0% 98%;
    --card: 240 3.23% 6.08%;
    --card-foreground: 0 0% 98%;
    --border: 260 4.92% 11.96%;
    --input: 255 4% 18%;
    --primary: 24.63 100% 54.64%;
    --primary-foreground: 0 0% 98%;
    --secondary: 255 0% 85.85%;
    --secondary-foreground: 0 0% 5.85%;
    --accent: 24.68 0% 18.46%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 95.54% 58.57%;
    --destructive-foreground: 0 0% 98%;
    --ring: 24.68 0.04% 31.83%;
  }
} */

/* grain of salt */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 231 14% 10%;
    --foreground: 60 36% 96%;
    --muted: 231 12% 15%;
    --muted-foreground: 231 12% 65%;
    --popover: 231 14% 7%;
    --popover-foreground: 0 0% 100%;
    --card: 231 14% 8%;
    --card-foreground: 0 0% 100%;
    --border: 231 4% 15%;
    --input: 231 4% 18%;
    --primary: 220 13% 86%;
    --primary-foreground: 220 13% 26%;
    --secondary: 220 3% 25%;
    --secondary-foreground: 220 3% 85%;
    --accent: 231 14% 25%;
    --accent-foreground: 231 14% 85%;
    --destructive: 6 92% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 13% 86%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
